* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4d50cc9;
}

canvas {
  background: black;
  display: block;
  margin: 0 auto;
  margin-top: 50px
}

.score-board {
  text-align: center;
}

.game-info-button {
  text-align: center;
}


.start-game {
  text-align: center;
  padding-top: 20px;
}

.jumbotron {
  background-color: black;
  letter-spacing: 15px;
}

h1 {
  font-size: 60px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #16f800, 0 0 30px #ff0080, 0 0 40px #ff00ac, 0 0 55px #16f800, 0 0 75px #ff0ac6;
  text-align: center;
}